<!-- CreateListModal -->

        <div class="modal fade" id="CreateListModal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" 
            aria-labelledby="CreateListModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create a List</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column">
                            <form action="{{ url_for('add_list') }}" method="post" class="modal_form">
                                
                                <div class="form-group">
                                    <label for="list_title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="list_title" name="list_title" placeholder="Name of the list"
                                        required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="list_description" class="form-label">Description</label>
                                    <textarea class="form-control" id="list_description" name="list_description" rows="6" cols="30" 
                                        placeholder="list description" required></textarea>
                                </div>
                                
                                <div class="modal_btns">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
                                    <input type="submit" class="btn btn-outline-primary btn-sm btn-block btn-round" value="Submit">
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    